h1 {
    color: red;
}

p{
    color: blue;
}

h2 {
    color: green;
    text-align: center;
    font-size: 50px;
}

#titulo-app {
    color: #aaa;
}

.p-texto {
    color: #444;
}

.nome {
    color: orange;
}

.hexa {
    color: #868686;
}

.rgba {
    color: regba(17,197,214, 0.2);
}

/* Backgrounds */

.div-background {
    background-image: url('img/por-do-sol.jpg');
    height: 300px;
}

.titulo-background {
    text-align: center;
    background-color: #000;
    color: #FFF;
}

/* Fontes */

.family {
    color: #000;
    font-size: 40px
}

.family.serif {
    color: red;
}

.serif {
    font-family: 'Times New Roman', Times, serif;

}

.sans-serif {
    font-family: arial;
}

.monospace {
    font-family: 'Courier New', Courier, monospace;
}

.italic {
    font-style: italic;
}

.oblique {
    font-style: oblique;
}

.bold {
    font-weight: bold;
}

.variant {
    font-variant: small-caps;
}


/* box model  */

body {
    margin: 0;
}

.boxmodel {
    height: 200px;
    width: 200px;
    background-color: #00f;
    padding: 20px;

    padding: 30px 20px 5px 10px;

    /* especifico agrupado 3 medidas - top, right-left, botton  */
    padding: 30px 20px 5px;

    /* especifico agrupado duas medidas - top-botton, rigth-left */

    padding: 30px 20px;
}

.paragrafo-box {
    color: #fff;
    margin: 0;
}