html {
    font-family: Helvetica, sans-serif;
}

.banner {
    width: 100%;
    height: 500px;
    background-image: url(../images/capa.jpg);
    background-position: center;
    position: relative;

}

.box-container {
    width: 400px;
    height: 200px;
    position: absolute;
    text-align: center;
    right: 100px;
    bottom: 250px;
}

.box-background {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    z-index: 1;
}

.box-banner-title {
    position: absolute;
    width: 100%;
    color: white;
    padding-top: 50px;
    text-align: center;
    top: 0;

}

.box-banner-title h1 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 25px;
}

.box-banner-title p {
    font-size: 18px;
    font-weight: 200;
    padding: 10px;
}

.company-info-container {
    position: absolute;
    height: 175px;
    width: 100%;
    bottom: 0;
    /* border: 3px solid #73AD21; */
}

.company-info-background {
    width: 100%;
    height: 100%;
    background-color: #DDD;
    opacity: .9;
}

.company-info-titlebox {
    position: relative;
    padding-left: 10%;
    top: 40px;
    /* width: 100%; */
}

.company-info-titlebox h2,
.company-info-titlebox p {
    color: #222;
}

.company-info-titlebox h2 {
    margin-bottom: 30px;
    font-size: 24px;
}

/* Serviços  */

.services-container {
    max-width: 1200px;
    /* background-color: red; */
    padding: 30px 10%;
    padding-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

.service-box {
    width: 100%;
    position: relative;
    clear: both;
    height: 150px;
    margin-bottom: 30px;
}

.service-box:last {
    margin-bottom: 0;
}

.service-title {
    width: 20%;
    height: 150px;
    background-color: #000;
    float: left;
    text-align: center;
    /* //alinhamento vertical */
    line-height: 50px;
    padding: 20px;
    /* pro texto nao sair; */
    box-sizing: border-box;
}

.service-title h2 {
    padding-top: 30px;
    color: #fff;
    font-size: 18px;
    line-height: 20px;
}

.service-description {
    width: 80%;
    height: 150px;
    background-color: #DDD;
    float: left;
    padding: 40px;
    box-sizing: border-box;
}

.service-description h3 {
    color: #222;
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
}

.service-description p {
    font-size: 18px;
    line-height: 22px;
}

#gerenciamento-title {
    color: blueviolet;
}

#dev-title {
    color: salmon;
}

#design-title {
    color: darkslategrey;
}

#gerenciamento-box {
    background-color: blueviolet;
}

#dev-box {
    background-color: salmon;
}

#design-box {
    background-color: darkslategrey;
}

.footer-container {
    background-image: url('../images/rodape.jpg');
    background-position: center;
}

.about-container {
    max-width: 1200px;
    padding: 30px 10px;
    position: relative;
    clear: both;
}

.about-card {
    float: left;
    width: 30%;
    padding-top: 30px;
    background-color: #FFF;
    text-align: center;
    box-sizing: border-box;
}